 
{
    "datacenter": "nuc_test",
    "data_dir": "/opt/consul/data",
    "log_level": "TRACE",
    "node_name": "{{ansible_hostname}}",
    "client_addr": "0.0.0.0", 
    "encrypt": "{{GOSSIP_ENCRPYPTION_KEY}}",
    "ca_file" : "/etc/consul.d/main-ca.crt",
    "cert_file" : "/etc/consul.d/{{ansible_hostname}}_consul_agent.crt",
    "key_file" : "/etc/consul.d/{{ansible_hostname}}_consul_agent.pem",
    "retry_join": {{CONSUL_SERVER_IP_LIST}}
}